include mixins/cardItem

ul.cardList
    +cardItem({
      cardID: "card1",
      src: "assets/no-image-icon.png",
      alt: "card1",
      info: "here goes very long text that shouldn't stretch this block nor by width nor by height. It should be cut by three periods like this Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum."
    })
    +cardItem({
      cardID : "card2",
      src: "assets/no-image-icon.png",
      alt    : "card2",
      info   : "..."
    })
    +cardItem({
      cardID : "card3",
      src: "assets/no-image-icon.png",
      alt    : "card3",
      info   : "..."
    })
    +cardItem({
      cardID : "card4",
      src: "assets/no-image-icon.png",
      alt    : "card4",
      info   : "..."
    })


