include mixins/menuItem
nav.menu
    +menuItem({
      name: "Menu1",
      href: "#"
    })
    +menuItem({
      name : "Menu2",
      href : "#"
    })
    +menuItem({
      name : "Menu3",
      href : "#"
    })

