.card {
  &Item {
    margin: 20px 0;
    background-color: #e9e9e9;
    transition: background-color 0.3s, color 0.3s;
    &--active {
      background-color: #363B5D;
      .cardItem__info {
        color: #ffffff;
      }
    }
    a {
      display: flex;
      align-items: center;
    }
    &__image {
      width: 60px;
      height: 60px;
      min-width: 60px;
    }
    &__info {
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      color: #000000;
      padding: 5px 5px 5px 10px;
      font-size: 14px;
      max-height: 60px;
      overflow: hidden;
      line-height: 18px;
      transition: color 0.3s;
      word-break: break-all;
      position: relative;
    }
    &:hover {
      cursor: pointer;
    }
  }
}