ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  &:hover {
    cursor: pointer;
    border: none;
  }
}