.helpButton {
  width: 180px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #ffffff;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  transition: background-color 0.3s;
  &:hover {
    cursor: pointer;
    background-color: darken(#cccccc, 10%)
  }
}