.logo {
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ffffff;
  box-sizing: border-box;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    width: 75px;
    padding: 20px;
    font-size: 14px;
    span {
      color: transparent;
      position: relative;
      &::before {
        content: "Logo small image";
        display: block;
        color: #000000;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}