.menu {
  display: flex;
  height: 100%;
  &__item {
    box-sizing: border-box;
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid #ffffff;
    a {
      color: #000000;
      transition: color 0.3s;
    }
    &:hover {
      cursor: pointer;
      a {
        color: darkred;
      }
    }
  }
}

.menu {
  &--mobile {
    display: none;
    width: 50px;
    height: 50px;
    border-right: 1px solid #ffffff;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    box-sizing: border-box;
    &:hover {
      span {
        background-color: darkred;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 50px;
    }
  }
  &Item--mobile {
    display: block;
    width: 25px;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: background-color 0.3s;
  }
}

@media screen and (max-width: 750px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    width: 80%;
    background-color: #666666;
    height: 100vh;
    z-index: 888;
    &__item {
      border-right: none;
      height: 50px;
      border-bottom: 1px solid #ffffff;
      justify-content: flex-start;
      padding-left: 20px;
      transition: border-bottom 0.3s;
      a {
        color: #ffffff;
      }
      &:hover {
        a {
          color: antiquewhite;
        }
      }
    }
  }

  .menu {
    &--mobile {
      display: flex;
    }
  }
}