.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar--info,
.content,
.sidebar--news {
  background-color: #cccccc;
}

.sidebar--info {
  height: 60%;
}

@media screen and (max-width: 750px) {
  .sidebar--info {
    height: 100%;
  }
}