@import "reset-css/reset";
@import "_custom";
@import "_menu";
@import "_cards";
@import "_helpButton";
@import "_logo";
@import "_sidebar";
@import "_headers";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #cccccc;
}

main {
  display: grid;
  grid-template-areas: 'info content news';
  grid-auto-columns: 250px 1fr 200px;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  height: calc(~"100% - 50px");
}

.sidebar--info {
  grid-area: info;
}

.content {
  grid-area: content;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar--news {
  grid-area: news;
}

.mobileMenu--show {
  .helpButton {
    display: none;
  }
  .logo {
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu {
    display: flex;
    left: 0;
  }
  .menu--mobile {
    position: absolute;
    right: 75px;
    top: 0;
  }
}

@media screen and (max-width: 750px) {
  main {
    display: grid;
    grid-template-areas: 'info'
                          'content'
                          'news';
    grid-auto-columns: 1fr;
    grid-template-rows: 200px 1fr 100px;
  }
}