doctype
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="тестовое задание в Сеопорт")
        meta(name="theme-color" content="#00bff3")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='testproject'
        link(href="styles/index.css" rel="stylesheet")
    body
        header
            include modules/mobileMenu
            include modules/logo
            include modules/menu
            include modules/helpButton
        main
            aside.sidebar.sidebar--info
                h2 Block 1
                p.sidebar__desc 250px
            section.content
                h1 Block 2
                include modules/cardList
                p.content__info Clicking on each of the blocks above should toggle its class name. Show it by charging background color. Write a js function that does it once and apply it to each block.
            aside.sidebar.sidebar--news
                h2 Block 3
                p.sidebar__desc 200px
        script(type="text/javascript" src="js/index.js")
